/*----GOOGLE FONTS-----*/
body
{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(97, 96, 96))
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .intro{
    height: 80%;
    width: auto;
  }

  .openimg{
    width: 100%;
    height: auto;
    
  }