@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #8693ab, #bdd4e7);
  width: 100%;
}
/* ------------------- NAVIGATION BAR ------------------ */
.container {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.back-gif {
  width: 100%;
  z-index: -10;
}
.div-vid {
  width: 100%;
  text-align: center;
}
.container p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
.navbar {
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .icon {
  width: 150px;
}
.intro-text p {
  font-size: 50px;
  font-weight: bolder;
}
.icon {
  width: 25px;
  cursor: pointer;
}
.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger .line {
  width: 30px;
  height: 3px;
  background: #fefefe;
  margin: 6px 0;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(114, 114, 224);
}
/* ------------------------- INDEX ---------------------- */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}
.col-1 {
  padding: 20px 20px;
  color: white;
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  margin-top: 40px;
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}
button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #8693ab, #bdd4e7);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
button img {
  width: 30px;
  display: none;
}
button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#b8c6db, #f5f7fa);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  width: 100%;
}
.col-2 .jordan1 {
  width: 100%;
  padding: 30px;
}
.color-box {
  padding-top: 7%;
  position: absolute;
  right: 0;
  top: 15px;
  background: linear-gradient(#8693ab, #bdd4e7);
  border-radius: 20px 0 0 20px;
  height: 80%;
  width: 60%;
  z-index: -1;
}
.add-btn img {
  width: 35px;
  margin-bottom: 5px;
}
.add-btn {
  text-align: center;
  color: white;
  cursor: pointer;
}
.mission {
  position: relative;
  text-align: center;
  max-height: 100%;
}
.mission img {
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  margin-bottom: -4px;
}
.mission_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.mission_head {
  font-size: 50px;
  font-weight: 600;
}
.mission_body {
  font-size: 30px;
  font-weight: 400;
}
/* ------------------------- SHOP ---------------------- */
.companyname {
  color: white;
}
.shopSec {
  margin-top: 80px;
  padding: 10px 20px;
  padding-bottom: 7%;
  padding-top: 3%;
  font-size: 30px;
  z-index: -1;
}
.sheading {
  text-align: center;
  padding-top: 10px 0 30px 0;
  color: white;
}
.shopProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 5%;
  padding: 3% 3% 3% 3%;
  align-items: center;
}
.shopBox button i {
  width: 30px;
  display: none;
}
.shopBox button:hover i {
  display: block;
}
.shopcard button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopProducts .shopCard img {
  height: 80%;
  width: 100%;
}
.shopProducts .shopCard img:hover {
  transform: translateY(-.5rem);
}
.shopCard {
  width: 350px;
  height: 100%;
  background-color: #f5f7fa;
  box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 2%;
  margin: 0 auto 20px auto;
}
.shopDesc {
  padding: 5px 20px;
  opacity: 0.8;
}
.shopName {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;
}
.shopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  color: white;
}
.shopPrice {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
/*.shopBtn { 
 font-size: 13px; 
 color: white; 
 padding: 10px 18px; 
 font-weight: 900; 
 border: 1px solid grey; 
 border-radius: 20px; 
 background-color: white; 
}*/
/*------------------------CONTACT-------------------------*/

.contact {
  position: relative;
  min-height: 50%;
  padding: 3% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
	margin-top: 7%;
}
.contact .content {
  max-width: 60%;
  text-align: center;
  padding-bottom: 2%;
}
.contact .contactUs {
  font-size: 40px;
  font-weight: 1000;
}
.contact .contactP {
  font-size: 25px;
  font-weight: 300;
}
.contactContain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contactContain .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contactContain .contactInfo .cBox {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactContain .contactInfo .cBox .cIcon {
  min-width: 60px;
  height: 60px;
  display: flex;
  background-color: #424144;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contactContain .contactInfo .cBox .contactText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.contactContain .contactInfo .cBox .contactText .contactTextP {
  font-weight: 700;
}
.contactForm {
  width: 40%;
  padding: 5%;
  background: white;
}
.contactForm .contactFormP {
  font-size: 30px;
  font-weight: 800;
  color: black;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span, .contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/*-----------------------CONTACT END------------------------------*/
/* --------------------- FOOTER ----------------------------- */
ul {
  list-style: none;
}
.footer {
  padding: 50px 0;
  background-color: #696969;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  color: white;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  background-color: white;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #b7b9bb;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.copyright {
  color: #bbbbbb;
}
.row_1 {
  display: flex;
  flex-wrap: wrap;
}
/* --------------------- RESPONSIVE ----------------------------- */
@media only screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 400px) {
    /*--------------------NAVBAR-------------------------*/
    nav ul {
      width: 100%;
      background: linear-gradient(#ff54a2, #ff575a);
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
    }
    /*-----------------INDEX--------------------------*/
    /*-----------------SHOP--------------------------*/
    .shopSec {
      margin-top: 150px;
      padding: 10px 20px;
      padding-bottom: 7%;
      padding-top: 3%;
      font-size: 30px;
      z-index: -1;
    }
    .sheading {
      text-align: center;
      padding-top: 10px 0 30px 0;
      color: white;
    }
    .shopProducts {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 3% 2% 2% 2%;
      align-items: center;
    }
    .shopProducts .shopCard img {
      height: 100%;
      width: 100%;
    }
    .shopProducts .shopCard img:hover {
      transform: translateY(-.5rem);
    }
    .shopCard {
      width: 350px;
      height: 100%;
      background-color: #f5f7fa;
      box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 5px;
      padding-bottom: 2%;
      margin: 0 auto 20px auto;
    }
    .shopDesc {
      padding: 5px 20px;
      opacity: 0.8;
    }
    .shopName {
      font-weight: 900;
      font-size: 20px;
      color: #424144;
      padding: 0 20px;
    }
    .shopBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-size: 30px;
      color: white;
    }
    .shopPrice {
      color: red;
      font-size: 20px;
      font-weight: bold;
    }
    /*---------------CONTACT---------------------*/
    .contact {
      padding: 50px;
    }
    .container {
      flex-direction: column;
    }
    /*-----------------FOOTER----------------------*/
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
    /*-----------------------------RESPONSIVE END-----------------------------------------*/
  }

}