@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #8693ab, #bdd4e7);
  width: 100%;
}

.introvid {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.introjpg {
  display: none;

}


.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
}

.intro-text p {
  font-size: 50px;
  font-weight: bolder;
}


/* ------------------- NAVIGATION BAR ------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1% 3%;
}

.brandlogo {
  width: 20%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 30px;
  display: block;
  font-size: 20px;
}



.toggle-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5%;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

nav ul li a:hover {
  color: rgb(114, 114, 224);
}

/* ------------------------- INDEX ---------------------- */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50%;
  text-decoration: none;
}

.col-1 {
  padding: 20px 20px;
  color: white;
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2 {
  margin-top: 40px;
  font-size: 54px;
}

.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}

button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #8693ab, #bdd4e7);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
  text-decoration: none;
}

button img {
  width: 30px;
  display: none;
  text-decoration: none;
}

button:hover img {
  display: block;
}

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#b8c6db, #f5f7fa);
  position: absolute;
  left: -40px;
  top: 8px;
  text-decoration: none;
}

.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  width: 100%;
}

.col-2 .jordan1 {
  width: 100%;
  padding: 30px;
}

.color-box {
  padding-top: 5%;
  position: absolute;
  right: 0;
  top: 15px;
  background: linear-gradient(#8693ab, #bdd4e7);
  border-radius: 20px 0 0 20px;
  height: 80%;
  width: 60%;
  z-index: -1;
}

.add-btn img {
  width: 35px;
  margin-bottom: 5px;
}

.add-btn {
  text-align: center;
  color: white;
  cursor: pointer;
}

.mission {
  position: relative;
  text-align: center;
  max-height: 100%;
}

.mission img {
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  margin-bottom: -4px;
}

.mission_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.mission_head {
  font-size: 50px;
  font-weight: 600;
}

.mission_body {
  font-size: 30px;
  font-weight: 400;
}

.backpic2 {
  display: none;
}

/* ------------------------- SHOP ---------------------- */
.companyname {
  color: white;
}


.shopSec {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 12%;
  z-index: -1;
}

.sheading {
  text-align: center;
  padding: 0 0 30px 0;
  color: white;
}

.shopProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  padding: 3% 3% 3% 3%;
  align-items: center;
}

.shopBox button i {
  width: 30px;
  display: none;
}

.shopBox button:hover i {
  display: block;
}

.shopcard button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopProducts .shopCard img {
  height: 80%;
  width: 100%;
}

.shopProducts .shopCard img:hover {
  transform: translateY(-.5rem);
}

.shopCard {
  width: 350px;
  height: 100%;
  background-color: #f5f7fa;
  box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 2%;
  margin: 0 auto 20px auto;
}

.shopDesc {
  padding: 5px 20px;
  opacity: 0.8;
}

.shopName {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;
}

.shopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  color: white;
}

.shopPrice {
  color: red;
  font-size: 20px;
  font-weight: bold;
}


/*------------------------CONTACT-------------------------*/

.contact {
  position: relative;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 1%;
  margin-bottom: 4%;
}


.contact .content {
  max-width: 60%;
  text-align: center;
  padding-bottom: 2%;
}

.contact .contactUs {
  font-size: 40px;
  font-weight: 1000;
}

.contact .contactP {
  font-size: 25px;
  font-weight: 300;
}

.contactContain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactContain .contactInfo {
  width: 50%;
  display: grid;
  flex-direction: column;
}

.contactContain .contactInfo .cBox {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactContain .contactInfo .cBox .cIcon {
  min-width: 60px;
  height: 60px;
  display: flex;
  background-color: #424144;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contactContain .contactInfo .cBox .contactText {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  flex-direction: column;
  font-weight: 300;
}

.contactContain .contactInfo .cBox .contactText .contactTextP {
  font-weight: 700;
}

.contactForm {
  width: 40%;
  padding: 5%;
  background: white;
}

.contactForm .contactFormP {
  font-size: 30px;
  font-weight: 800;
  color: black;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: rgb(85, 187, 227);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/*-----------------------CONTACT END------------------------------*/
/* --------------------- FOOTER ----------------------------- */
ul {
  list-style: none;
}

.footer {
  padding: 50px 0;
  background-color: #696969;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  color: white;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  background-color: white;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #b7b9bb;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copyright {
  color: #bbbbbb;
}

.row_1 {
  display: flex;
  flex-wrap: wrap;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}


.scrollup:hover {
  background-color: var(--first-color-alt);
  transform: scale(1.125);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #FFF;
}

.show-scroll {
  bottom: 5rem;
}

/* --------------------- RESPONSIVE ----------------------------- */
@media only screen and (max-width: 767px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    background: linear-gradient(to right, #8693ab, #bdd4e7);
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 7px 14px;
  }

  .navbar-links.active {
    display: flex;
  }

  /*-----------------INDEX--------------------------*/
  .brandlogo {
    width: 30%;
  }

  .row {
    flex-direction: column-reverse;
    margin-top: 500px;
  }

  .col-2 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .col-2 .jordan1 {
    width: 77%;
  }

  .color-box {
    transform: translateX(0px);
  }

  .col-1 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .col-1 h2 {
    font-size: 35px;
  }

  .col-1 h3 {
    font-size: 20px;
  }

  .add-btn img {
    width: 35px;
    margin-bottom: 5px;
  }

  .intro-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: center;
  }

  .intro-text p {
    font-size: 35px;
    font-weight: bolder;
  }

  .introvid {
    display: none;

  }

  .introjpg {
    width: 100%;
    position: absolute;
    z-index: -2;
    display: unset;
    opacity: 0.3;
  }

  .mission_head {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .mission_body {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }

  .mission_txt {
    width: 85%;
  }

  .backpic {
    display: none;
  }

  .backpic2 {
    display: unset;
  }

  /*-----------------SHOP--------------------------*/
  .shopSec {
    margin-top: 10px;
    padding-bottom: 7%;
    z-index: -1;
  }

  .sheading {
    text-align: center;
    padding: 10px 0 30px 0;
    color: white;
  }

  .shopProducts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .shopCard {
    height: 100%;
    width: 100%;

  }

  .shopBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;
  }

  /*---------------CONTACT---------------------*/
  .contact {
    padding: 30px;

  }

  .content {
    width: 100%;
  }


  .contactContain .contactForm,
  .contactContain .contactInfo {
    width: 100%;
  }

  .contactInfo {
    margin-bottom: 20px;
  }

  .contactContain {
    display: grid;
    grid-template-columns: 1fr;

  }

  .contact .contactUs {
    font-size: 35px;
    font-weight: 1000;
  }

  .contact .contactP {
    font-size: 19px;
    font-weight: 300;

  }

  /*-----------------FOOTER----------------------*/
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 400px) {
  /*--------------------NAVBAR-------------------------*/

  /*-----------------INDEX--------------------------*/
  .brandlogo {
    width: 27%;

  }

  .row {
    flex-direction: column-reverse;
    margin-top: 425px;

  }

  .col-2 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .col-2 .jordan1 {
    width: 77%;
  }

  .color-box {
    transform: translateX(0px);
  }

  .col-1 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .col-1 h2 {
    font-size: 35px;
  }

  .col-1 h3 {
    font-size: 20px;
  }

  .add-btn img {
    width: 35px;
    margin-bottom: 5px;
  }

  .intro-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: center;
  }

  .intro-text p {
    font-size: 32px;
    font-weight: bolder;
  }

  .introvid {
    display: none;

  }

  .introjpg {
    width: 100%;
    position: absolute;
    z-index: -2;
    display: unset;
    opacity: 0.3;
  }

  .mission_head {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .mission_body {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }

  .mission_txt {
    width: 85%;
  }

  .backpic {
    display: none;
  }

  .backpic2 {
    display: unset;
    opacity: 0.1;
  }

  /*-----------------SHOP--------------------------*/
  .shopSec {
    margin-top: 10px;
    padding-bottom: 7%;
    z-index: -1;
  }

  .sheading {
    text-align: center;
    padding: 10px 0 30px 0;
    color: white;
    font-size: 37px;
  }

  .shopProducts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .shopCard {
    height: 100%;
    width: 100%;

  }

  .shopBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;
  }

  /*---------------CONTACT---------------------*/
  .contact {
    padding: 30px;

  }

  .content {
    width: 100%;
  }


  .contactContain .contactForm,
  .contactContain .contactInfo {
    width: 100%;
  }

  .contactInfo {
    margin-bottom: 20px;
  }

  .contactContain .contactInfo .cBox .contactText {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    flex-direction: column;
    font-weight: 300;
  }

  .contactContain {
    display: grid;
    grid-template-columns: 1fr;

  }

  .contact .contactUs {
    font-size: 35px;
    font-weight: 1000;
  }

  .contact .contactP {
    font-size: 19px;
    font-weight: 300;

  }

  /*-----------------FOOTER----------------------*/
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  /*-----------------------------RESPONSIVE END-----------------------------------------*/
}